@import url('stylesheets/theme.css');
@import url('stylesheets/Dana.css');

html {
  display: flex;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  flex: 1;
  font-family: 'Dana';
}